body{
    background-image: url(image3.jpg);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
.cover{
    background: rgb(14, 13, 13);
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px rgb(246, 4, 4) solid;
    width:auto;
    

}
h1{
    text-align:center;
    text-decoration: underline;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
    font-style: oblique;
   
}
h3{
    text-align: center;
    color:white;
}
p{
    color: rgb(0, 130, 252);
    line-height:20px;
    text-indent: 10px;
    display: inline-block;
    left: 10px;
    padding: 10px;
    border-left: 10px white solid;
    font-family: Arial, Helvetica, sans-serif;
}
ul li{
    color: rgb(146, 255, 4);
    line-height:30px;
    padding: 10px;
    font-family: fantasy;
    list-style: square;
   
}
.contact img{
    width:20px;
    display: inline;
    padding: 10px;
    
}
.futer{
   color:rgb(255, 157, 0);
   background-color:rgb(10, 10, 10);
   text-align:center;
   border:1px rgb(255, 0, 212) solid;
}

